//////////////// STYLING //////////////////////

// FAVICON in tab view

// BODY - fonts, text color
// body {}
    // background image for LOGIN/SIGNUP PAGE
    // background image (maybe subtle pattern for INDEX and SHOW)

body {
        background-image: url(./Images/background-image.jpg);
        background-size: cover;
        
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.5); 
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    background: #F37053;
    font-family: 'Vonique 92', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.header .logo {
    width: 70px;
}

img {
    width: 100px;
}
.header .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 20px;
}

.header .navbar ul li {
    margin-left: 1rem;
}

.header .navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.header .navbar ul li a:hover {
    text-decoration: underline;
}

// MAIN 
div {
    text-align: center;
}

h1 {
    font-size: 1.7rem;
    margin: 2rem 0;
    font-family: 'Righteous', cursive;
    color: whitesmoke;
}



button {
    background: #F6AFCE;
    color: #fff;
    padding: 0rem 1.5rem;
    margin: 0 0.5rem;
    border-radius: 20px;
    cursor: pointer;    
}

button:hover {
    background: #F37053;
}

.active {
    background: #03a9f4;
}

.active:hover {
    background: #0288d1; 
}

// NAV BAR


// INDEX (/wherever we use map method)
// div for that section/container, ul for the function, li for each place

// SHOW
    // .place-container {}
    // .place-display {} (for the photo of the place and the name of it underneath)
    // .place-details {} (for the other details about the place)

// FORMS -- maybe one style for all forms, or a couple of them -- have to think that through a bit more
// .signup-form {}
.signup-form  {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 20px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Ayuthaya";
    color: whitesmoke;
}

.signup-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Vonique 92', sans-serif;
    color: whitesmoke;
    font-size: 5px;
}

.signup-form input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.signup-form input[type="submit"] {
    background: #F6AFCE;
    color: #fff;
    border: none;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background: #F37053;
}
// .login-form {}
.login-form {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 20px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: "Ayuthaya";
    color: whitesmoke;
    text-decoration: underline;
    padding-bottom: 1px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: whitesmoke;
    font-family: 'Vonique 92', sans-serif;
    font-size: 12px;
}

.login-form input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.login-form input[type="submit"] {
    background: #F6AFCE;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background: #F37053;
}

// .create-form {}
// .edit-form {}

// BUTTONS should be the same for DELETE, EDIT, LOGIN, SIGNUP
// .logout-button {} -- might change if we add into nav bar?
// .delete-button {} (in Show.js)

// Mobile-first -- MEDIA QUERIES use min-width instead of max-width 