//////////////// STYLING //////////////////////

// FAVICON in tab view

/////////////////////
/// BODY
/////////////////////
body {
        background-image: url(./Images/background-image.jpg);
        background-size: cover;
        
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 63, 63, 0.5); 
    z-index: -1;
}

/////////////////////
/// HEADER
/////////////////////
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    background: #F37053;
    font-family: 'Vonique 92', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.header .logo {
    width: 70px;
}

.header .navbar button {
    background-color: transparent;
    border: none;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    color: #fff;
}

.header .navbar button:hover {
    text-decoration: underline;
}

img {
    width: 100px;
}
.header .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

    li {
        margin-left: 1rem;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    li:hover {
        text-decoration: underline white;
    }


/////////////////////
/// MAIN 
/////////////////////
div {
    text-align: center;
}

h1 {
    font-size: 1.7rem;
    margin: 2rem 0;
    font-family: 'Righteous', cursive;
    color: whitesmoke;
}



.buttons {
    background: #F6AFCE;
    color: #fff;
    padding: 0rem 1.5rem;
    margin: 0 0.5rem;
    border-radius: 20px;
    cursor: pointer;    
}

.buttons:hover {
    background: #F37053;
}

.active {
    background: #03a9f4;
}

.active:hover {
    background: #0288d1; 
}

// INDEX (/wherever we use map method)
// div for that section/container, ul for the function, li for each place

// SHOW
    // .place-container {}
    // .place-display {} (for the photo of the place and the name of it underneath)
    // .place-details {} (for the other details about the place)


/////////////////////
/// FORMS
/////////////////////

// SIGNUP FORM
.signup-form  {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 20px;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-family: "Ayuthaya";
        color: whitesmoke;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-family: 'Vonique 92', sans-serif;
        color: whitesmoke;
        font-size: 5px;
    }

    input {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    input[type="submit"] {
        background: #F6AFCE;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background: #F37053;
    }
}


// LOGIN FORM
.login-form {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 20px;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-family: "Ayuthaya";
        color: whitesmoke;
        text-decoration: underline;
        padding-bottom: 1px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: whitesmoke;
        font-family: 'Vonique 92', sans-serif;
        font-size: 12px;
    }

    input {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    input[type="submit"] {
        background: #F6AFCE;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background: #F37053;
    }
}

// .create-form {}
// .edit-form {}

// Mobile-first -- MEDIA QUERIES use min-width instead of max-width 